<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Tilføj Projekt</title>
</head>
<body>
<header>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>PROJEKT TILFØJELSE</h1>
        <p>Opret et projekt her</p>
    </div>
</header>
<nav class="topnav">
    <div class="topnav-left">

        <a href="/seeProjects">Tilbage til Projektoversigt</a>
        <a href="/usersList">Bruger Liste</a>
        <a href="/myAccount">Konto</a>
    </div>
    <div class="topnav-right">
        <a href="/logout">Logud</a>
    </div>
</nav>
<div class="project-container">
    <form th:action="${project != null ? '/updateProject' : '/addProject'}" method="post">
        <div>
            <input type="hidden" th:if="${project != null}" th:value="${project.project_id}" name="projectId">
        </div>
        <div>
            <label for="projectName">Projekt Navn:</label><br>
            <input type="text" id="projectName" name="projectName" required>
        </div>
        <div>
            <label for="startDate">Start Dato:</label><br>
            <input type="date" id="startDate" name="startDate" required>
        </div>
        <div>
            <label for="projectDeadline">Projekt Deadline:</label><br>
            <input type="date" id="projectDeadline" name="projectDeadline" required>
        </div>
        <div>
            <label for="projectStatus">Projekt Status:</label><br>
            <input type="text" id="projectStatus" name="projectStatus">
        </div>
        <br>
        <button type="submit">Tilføj Projekt</button>
    </form>
</div>
</body>
</html>
