<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Project</title>
</head>
<body>
<h1>Add Project</h1>
<form th:action="${project != null ? '/updateProject' : '/addProject'}" method="post">
    <div>
    <input type="hidden" th:if="${project != null}" th:value="${project.project_id}" name="projectId">
    </div>
    <div>
        <label for="projectName">Project Name:</label><br>
        <input type="text" id="projectName" name="projectName" required>
    </div>
    <div>
        <label for="startDate">Start Date:</label><br>
        <input type="date" id="startDate" name="startDate" required>
    </div>
    <div>
        <label for="projectDeadline">Project Deadline:</label><br>
        <input type="date" id="projectDeadline" name="projectDeadline">
    </div>
    <div>
        <label for="projectStatus">Project Status:</label><br>
        <input type="text" id="projectStatus" name="projectStatus">
    </div>
    <br>
    <button type="submit">Add Project</button>
</form>
</body>
</html>