<!DOCTYPE html>
<html lang="en">
<head>
    <title>Projects</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="project.css">
</head>
<body>

<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>CREATE PROJECT</h1>
    <p>Create your new project!</p>
</div>
<div class="container">
    <form action="/addProject" method="post">
        <label for="projectName">Project Name:</label><br>
        <input type="text" id="projectName" name="projectName" required><br><br>
        <label for="startDate">Start Date:</label><br>
        <input type="date" id="startDate" name="startDate" required><br><br>
        <label for="projectDeadline">Project Deadline:</label><br>
        <input type="date" id="projectDeadline" name="projectDeadline" required><br><br>
        <label for="projectStatus">Project Status:</label><br>
        <input type="text" id="projectStatus" name="projectStatus" required><br><br>
        <input type="submit" value="Create Project">
    </form>

    <h2>Existing Projects</h2>

</div>
</body>
</html>