<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Tilføj Projekt</title>
</head>
<body>
<header>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>PROJEKT TILFØJELSE</h1>
        <p>Opret et projekt her</p>
    </div>
</header>
<nav class="topnav">
    <div class="topnav-left">

        <a href="/seeProjects">Tilbage til Projektoversigt</a>
        <a href="/usersList">Bruger Liste</a>
        <a href="/myAccount">Konto</a>
    </div>
    <div class="topnav-right">
        <a href="/logout">Logud</a>
    </div>
</nav>
<div class="project-container">
    <div th:if="${project == null}">
        <form th:action="${project != null ? '/updateProject/' + project.project_id : '/addProject'}" method="post">
            <div>
                <input type="hidden" th:if="${project != null}" th:value="${project.project_id}" name="projectId">
            </div>
            <div>
                <label for="projectName1">Projekt Navn:</label><br>
                <input type="text" id="projectName1" name="projectName" required>
            </div>
            <div>
                <label for="description1">Beskrivelse:</label><br>
                <input type="text" id="description1" name="description" required>
            </div>
            <div>
                <label for="startDate1">Start Dato:</label><br>
                <input type="date" id="startDate1" name="startDate" required>
            </div>
            <div>
                <label for="projectDeadline">Projekt Deadline:</label><br>
                <input type="date" id="projectDeadline" name="projectDeadline">
            </div>
            <div>
                <label for="projectStatus1">Projekt Status:</label><br>
                <input type="text" id="projectStatus1" name="projectStatus">
            </div>
            <br>
            <button type="submit">Tilføj Projekt</button>
        </form>
    </div>



    <div th:if="${project != null}">
        <form th:action="${project != null ? '/updateProject/' + project.project_id : '/addProject'}" method="post">
        <div>
            <input type="hidden" th:value="${project.project_id}" name="id">
        </div>
        <div>
            <label for="projectName">Projekt Navn:</label><br>
            <input type="text" id="projectName" name="projectName" th:value="${project != null ? project.projectName : ''}" required>
        </div>
        <div>
            <label for="description">Beskrivelse:</label><br>
            <input type="text" id="description" name="description" th:value="${project != null ? project.description : ''}" required>
        </div>
        <div>
            <label for="startDate2">Start Dato:</label><br>
            <input type="date" id="startDate2" name="startDate" th:value="${project != null ? project.startDate : ''}" required>
        </div>
            <div>
                <label for="projectDeadline2">Projekt Deadline:</label><br>
                <input type="date" id="projectDeadline2" name="projectDeadline">
            </div>
        <div>
            <label for="projectStatus2">Projekt Status:</label><br>
            <input type="text" id="projectStatus2" name="projectStatus">
        </div>
        <div>
            <br>
            <button type="submit" th:text="${project != null ? 'Update Project' : 'Add Project'}"></button>
        </div>
    </form>
</div>



</div>
</body>
</html>