<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Add Subproject</title>
</head>
<body>
<header>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>SUBPROJEKT TILFØJELSE</h1>
        <p>Opret et subprojekt her</p>
    </div>
</header>
<nav class="topnav">
    <div class="topnav-left">
        <a href="/usersList">User List</a>
        <a href="/myAccount">Account</a>
    </div>
    <div class="topnav-right">
        <a href="/logout">Logout</a>
    </div>
</nav>
<div class="project-container">
    <form th:action="${subproject != null ? '/updateSubproject/' + subproject.subproject_id : '/addSubproject/' + projectId}" method="post">        <div th:if="${subproject != null}">
            <input type="hidden" th:value="${subproject.subproject_id}" name="id">
        </div>
        <div>
            <label for="subprojectname">Subproject Name:</label><br>
            <input type="text" id="subprojectname" name="subprojectname" th:value="${subproject != null ? subproject.subprojectname : ''}" required>
        </div>
        <div>
            <label for="description">Description:</label><br>
            <input type="text" id="description" name="description" th:value="${subproject != null ? subproject.description : ''}" required>
        </div>
        <div>
            <label for="startDate">Start Date:</label><br>
            <input type="date" id="startDate" name="startDate" th:value="${subproject != null ? subproject.startDate : ''}" required>
        </div>
        <div>
            <label for="deadline">Deadline:</label><br>
            <input type="date" id="deadline" name="deadline" th:value="${subproject != null ? subproject.deadline : ''}">
        </div>
        <br>
        <button type="submit" th:text="${subproject != null ? 'Update Subproject' : 'Add Subproject'}"></button>
    </form>

    <!-- Update Subproject Form -->

</div>
</body>
</html>