<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Subproject</title>
</head>
<body>
<h1>Add Subproject</h1>
<form th:action="${subproject != null ? '@{/updateSubproject/{id}(id=${subproject.subproject_id})}' : '@{/addSubproject/{projectId}(projectId=${projectId})}'}" method="post">
    <div>
        <label for="subprojectname">Subproject Name:</label><br>
        <input type="text" id="subprojectname" name="subprojectname" required>
    </div>
    <div>
        <label for="description">Description:</label><br>
        <input type="text" id="description" name="description" required>
    </div>
    <div>
        <label for="startDate">Start Date:</label><br>
        <input type="date" id="startDate" name="startDate" required>
    </div>
    <div>
        <label for="deadline">Deadline:</label><br>
        <input type="date" id="deadline" name="deadline">
    </div>
    <br>
    <button type="submit">Add Subproject</button>
</form>
</body>
</html>