<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Subproject</title>
</head>
<body>
<h1 th:text="${subproject != null ? 'Update Subproject' : 'Add Subproject'}"></h1>

<!-- Add Subproject Form -->
<div th:if="${subproject == null}">
    <form th:action="@{/addSubproject/{projectId}(projectId=${projectId})}" method="post">
        <div>
            <label for="subprojectname">Subproject Name:</label><br>
            <input type="text" id="subprojectname" name="subprojectname" required>
        </div>
        <div>
            <label for="description">Description:</label><br>
            <input type="text" id="description" name="description" required>
        </div>
        <div>
            <label for="startDate">Start Date:</label><br>
            <input type="date" id="startDate" name="startDate" required>
        </div>
        <div>
            <label for="deadline">Deadline:</label><br>
            <input type="date" id="deadline" name="deadline">
        </div>
        <br>
        <button type="submit">Add Subproject</button>
    </form>
</div>

<!-- Update Subproject Form -->
<div th:if="${subproject != null}">
    <form th:action="@{/updateSubproject/{id}(id=${subproject.subproject_id})}" method="post">
        <div>
            <label for="subprojectname">Subproject Name:</label><br>
            <input type="text" id="updatesubprojectname" name="subprojectname" required>
        </div>
        <div>
            <label for="description">Description:</label><br>
            <input type="text" id="updatedescription" name="description" required>
        </div>
        <div>
            <label for="startDate">Start Date:</label><br>
            <input type="date" id="updatestartDate" name="startDate" required>
        </div>
        <div>
            <label for="deadline">Deadline:</label><br>
            <input type="date" id="updatedeadline" name="deadline">
        </div>
        <br>
        <button type="submit">Update Subproject</button>
    </form>
</div>

</body>
</html>