<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Rediger Konto</title>
</head>
<body>
<header>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>Konto Redigering</h1>
        <p>Rediger Kontooplysninger!</p>
    </div>
</header>
<nav class="topnav">
    <div class="topnav-left">
        <a href="/myAccount">Tilbage til Min Konto</a>
        <div class="topnav-right">
            <a href="/logout">Logud</a>
        </div>
    </div>
</nav>
<div class="project-container">
    <form action="/editUser" method="post">
        <input type="hidden" name="userId" th:value="${user.user_id}"/>
        <input type="hidden" name="username" th:value="${user.username}"/> <!-- Hidden field for username -->
        <label for="name">Navn:</label>
        <input type="text" id="name" name="name" th:value="${user.name}"/>
        <label for="company">Virksomhed:</label>
        <input type="text" id="company" name="company" th:value="${user.company}"/>
        <label for="jobTitle">Job Titel:</label>
        <input type="text" id="jobTitle" name="jobTitle" th:value="${user.jobTitle}"/>
        <label for="description">Beskrivelse:</label>
        <input type="text" id="description" name="description" th:value="${user.description}"/>
        <input type="submit" value="Save Changes"/>
    </form>
</div>
</body>
</html>
