<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="layout.css">

</head>
<body>

<header>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>LOGINSIDE</h1>
        <p>Log ind på din konto!</p>
    </div>
</header>

<div class="login-container">
    <form id="login-form" method="post" action="/login">
        <div class="input-group">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <div class="input-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
    </form>
    <form th:action="@{/register}" method="get">
        <p>Don't have an account? <button type="submit">Register</button></p>
    </form>
</div>
</body>
</html>
