<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>My Account</title>
</head>
<body>

<header>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>Min Konto</h1>
        <p>Oplysninger om din konto ses her</p>
    </div>
</header>
<nav class="topnav">
    <div class="topnav-left">
        <a href="/seeProjects">Tilbage til Projekter</a>
    <div class="topnav-right">
        <a href="/logout">Logud</a>
    </div>
    </div>
</nav>
<div class="project-container">
    <table>
        <tr>
            <th>Attribut</th>
            <th>Værdi</th>
        </tr>
        <tr>
            <td>Navn</td>
            <td th:text="${user.name}"></td>
        </tr>
        <tr>
            <td>Brugernavn</td>
            <td th:text="${user.username}"></td>
        </tr>
        <tr>
            <td>Virksomhed</td>
            <td th:text="${user.company}"></td>
        </tr>
        <tr>
            <td>Job Titel</td>
            <td th:text="${user.jobTitle}"></td>
        </tr>
        <tr>
            <td>Beskrivelse</td>
            <td th:text="${user.description}"></td>
        </tr>
    </table>
    <form action="/editAccount" method="get">
        <button type="submit" class="btn">Rediger</button>
    </form>
</div>
</body>
</html>