<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>My Account</title>
</head>
<body>

<header>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>My Account</h1>
        <p>Dine Konto Oplysninger</p>
    </div>
</header>
<nav class="topnav">
    <div class="topnav-left">
        <a href="/seeProjects">Back to Projects</a>
    </div>
    <div class="topnav-right">
        <a href="/logout">Logout</a>
    </div>
</nav>
<div class="project-container">
    <table>
        <tr>
            <td>Navn</td>
            <td th:text="${user.name}"></td>
        </tr>
        <tr>
            <td>Brugernavn</td>
            <td th:text="${user.username}"></td>
        </tr>
        <tr>
            <td>Firma</td>
            <td th:text="${user.company}"></td>
        </tr>
        <tr>
            <td>Job Titel</td>
            <td th:text="${user.jobTitle}"></td>
        </tr>

        <tr>
            <td>Beskrivelse</td>
            <td th:text="${user.description}"></td>
        </tr>

    </table>

    <form action="/editAccount" method="get">
        <button type="submit" class="btn">Rediger Konto oplysninger</button>
    </form>

    <!-- Form to add new experience -->
    <h2>Tilføj Arbejds Erfaring</h2>
    <form action="/addExperience" method="post">
        <label for="skill">Kompetencer:</label>
        <select id="skill" name="skill" required>
            <option value="Frontend udvikling">Frontend udvikling</option>
            <option value="C# udvikling">C# udvikling</option>
            <option value="Salesforce Apex udvikling">Salesforce Apex udvikling</option>
            <option value="Salesforce LWC udvikling">Salesforce LWC udvikling</option>
            <option value="Salesforce CC udvikling">Salesforce CC udvikling</option>
            <option value="Azure integration udvikling">Azure integration udvikling</option>
            <option value="Enterprise arkitektur">Enterprise arkitektur</option>
            <option value="Projektledelse">Projektledelse</option>
            <option value="Programledelse">Programledelse</option>
            <option value="QA Manager">QA Manager</option>
            <option value="Manuel testing">Manuel testing</option>
            <option value="Test automation">Test automation</option>
            <option value="CRM business consultant">CRM business consultant</option>
            <option value="e-commerce consultant">e-commerce consultant</option>
        </select><br><br>
        <label for="yearsOfExperience">Din Erfaring i År:</label>
        <input type="number" id="yearsOfExperience" name="yearsOfExperience" required><br><br>
        <button type="submit">Tilføj Erfaring</button>
    </form>

    <!-- Display list of experiences -->
    <h2>Min Erfaring</h2>
    <table>
        <tr>
            <th>Kompetencer</th>
            <th>Års Erfaring</th>
            <th></th>
        </tr>
        <tr th:each="experience : ${experiences}">
            <td th:text="${experience.skill}"></td>
            <td th:text="${experience.yearsOfExperience}"></td>
            <td>
                <form action="/deleteExperience" method="post">
                    <input type="hidden" name="experienceId" th:value="${experience.experienceId}" />
                    <button type="submit">Slet</button>
                </form>
            </td>
        </tr>
    </table>

</div>

</body>
</html>