<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Projects</title>
</head>
<body>
<header>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>PROJEKTER</h1>
        <p>Projektoverblik ses her</p>
    </div>
</header>
<nav class="topnav">
    <div class="topnav-left">
        <a href="/addProject">Tilføj Projekt</a>
        <a href="/usersList">Bruger Liste</a>
        <a href="/myAccount">Konto</a>
        <a href="/invitedProjects" >Vis Inviterede Projekter</a>
        <a href="/invites" >Invitationer</a>
    </div>
    <div class="topnav-right">
        <a href="/logout">Logud</a>
    </div>
</nav>
<table>
    <thead>
    <tr>
        <th>Project Navn</th>
        <th>Start Dato</th>
        <th>Deadline</th>
        <th>Handlinger</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over projects and display them -->
    <tr th:each="project : ${projects}">
        <td>
            <a th:href="@{/subprojects/{id}(id=${project.project_id})}" th:text="${project.projectName}">Project Navn</a>
        </td>
        <td th:text="${project.startDate != null ? #temporals.format(project.startDate, 'dd-MM-yyyy') : 'Start Date Not Provided'}"></td>
        <td th:text="${project.projectDeadline != null ? #temporals.format(project.projectDeadline, 'dd-MM-yyyy') : 'Deadline Not Provided'}"></td>
        <td>
            <!-- Update button for each project -->
            <form th:action="@{/updateProject/{id}(id=${project.project_id})}" method="get">
                <button type="submit" class="btn">Opdater</button>
            </form>
            <!-- Delete button for each project -->
            <form action="/deleteProject" method="post" onsubmit="return confirm('Er du sikker på, at du vil slette dette projekt?');">
                <input type="hidden" name="id" th:value="${project.project_id}" />
                <button type="submit" class="btn">Slet Projekt</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>