<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
<h1>Projects</h1>
<ul>
    <a href="/addProject" class="btn">Add Project</a>
    <!-- Iterate over projects and display them -->
    <li th:each="project : ${projects}">
        <a th:href="@{/tasks/{id}(id=${project.project_id})}">
            <span th:text="${project.projectName}"></span> -
            <span th:if="${project.startDate != null}" th:text="${#temporals.format(project.startDate, 'dd-MM-yyyy')}"></span>
            <span th:unless="${project.startDate != null}">Start Date Not Provided</span>
            to
            <span th:if="${project.projectDeadline != null}" th:text="${#temporals.format(project.projectDeadline, 'dd-MM-yyyy')}"></span>
            <span th:unless="${project.projectDeadline != null}">Deadline Not Provided</span>
        </a>
        <!-- Update button for each project -->
        <form th:action="@{/updateProject/{id}(id=${project.project_id})}" method="get">
            <button type="submit" class="btn">Update</button>
        </form>
        <!-- Delete button for each project -->
<form action="/deleteProject" method="post">
    <input type="hidden" name="id" th:value="${project.project_id}" />
    <button type="submit">Delete Project</button>
</form>


    </li>
</ul>
</body>
</html>