<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>Projects</title>
</head>
<body>
<header>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>PROJEKTER</h1>
        <p>Projektoverblik ses her</p>
    </div>
</header>
<nav class="topnav">
    <div class="topnav-left">
        <a href="/addProject">Add Project</a>
        <a href="/usersList">User List</a>
        <a href="/myAccount">Account</a>
        <a href="/invitedProjects" class="btn">Show Invited Projects</a>
        <a href="/invites" class="btn">Invites</a>
    </div>
    <div class="topnav-right">
        <a href="/logout">Logout</a>
    </div>
</nav>
<table>
    <thead>
    <tr>
        <th>Project Name</th>
        <th>Start Date</th>
        <th>Deadline</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over projects and display them -->
    <li th:each="project : ${projects}">
        <a th:href="@{/subprojects/{id}(id=${project.project_id})}">
            <span th:text="${project.projectName}"></span> -
            <span th:if="${project.startDate != null}" th:text="${#temporals.format(project.startDate, 'dd-MM-yyyy')}"></span>
            <span th:unless="${project.startDate != null}">Start Date Not Provided</span>
            to
            <span th:if="${project.projectDeadline != null}" th:text="${#temporals.format(project.projectDeadline, 'dd-MM-yyyy')}"></span>
            <span th:unless="${project.projectDeadline != null}">Deadline Not Provided</span>
        </a>
        <!-- Update button for each project -->
        <form th:action="@{/updateProject/{id}(id=${project.project_id})}" method="get">
            <button type="submit" class="btn">Update</button>
        </form>
        <!-- Delete button for each project -->
        <form action="/deleteProject" method="post">
            <input type="hidden" name="id" th:value="${project.project_id}" />
            <button type="submit">Delete Project</button>
        </form>
    </li>
</ul>
<a href="/logout" class="btn">Logout</a> <!-- Logout link -->
</body>
</html>