<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Underprojekter</title>
</head>
<body>
<header>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>Underprojekter</h1>
        <p>Underprojekt oversigt</p>
    </div>
</header>
<nav class="topnav">
    <div class="topnav-left">
        <a href="/seeProjects">Tilbage til Projekter</a>
        <a th:href="@{/addSubproject/{projectId}(projectId=${projectId})}">Tilføj Underprojekt</a>    </div>
    <div class="topnav-right">
        <a href="/logout">Log ud</a>
    </div>
</nav>
<table>
    <thead>
    <tr>
        <th>Underprojekt Navn</th>
        <th>Beskrivelse</th>
        <th>Handlinger</th>
        <th>Brugere Tilkoblet</th>
    </tr>
    </thead>
    <tbody>
    <!-- Iterate over subprojects and display them -->
    <tr th:each="subproject : ${subprojects}">
        <td>
            <form th:action="@{'/tasks/' + ${projectId} + '/' + ${subproject.subproject_id}}" method="get">
                <button type="submit" th:text="${subproject.subprojectname}" class="btn"></button>
            </form>
        </td>

        <td th:text="${subproject.description}"></td>

        <td>
    <!-- Update button for each subproject -->
            <form th:action="@{/updateSubproject/{id}(id=${subproject.subproject_id})}" method="get">
                <button type="submit" class="btn">Opdater</button>
            </form>
            <!-- Delete button for each subproject -->
            <form th:action="@{/deleteSubproject/{projectId}/{subprojectId}(projectId=${projectId}, subprojectId=${subproject.subproject_id})}"
                  method="post"
                  onsubmit="return confirm('Er du sikker på, at du vil slette dette underprojekt?');">
                <button type="submit" class="btn">Slet</button>
            </form>

        </td>
        <td>
            <form th:action="@{/assignUserToSubproject}" method="post">
                <select name="userId">
                    <option th:each="user : ${users}" th:value="${user.user_id}" th:text="${user.username}"></option>
                </select>
                <input type="hidden" name="subprojectId" th:value="${subproject.subproject_id}">
                <button type="submit">Tildel Bruget</button>
            </form>
            <p th:if="${subprojectAssignedUsers[subproject.subproject_id] != null and !subprojectAssignedUsers[subproject.subproject_id].isEmpty()}">
                Tildelte Brugere:
            <ul>
                <li th:each="user : ${subprojectAssignedUsers[subproject.subproject_id]}" th:text="${user.username}"></li>
            </ul>
        </td>

    </tr>
    </tbody>
</table>
</body>
</html>
