<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
</head>
<body>
<header>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>Task List</h1>
        <p>Task overview</p>
    </div>
</header>
<nav class="topnav">
    <div class="topnav-left">
        <a th:href="@{/addTask/{projectId}/{subprojectId}(projectId=${projectId}, subprojectId=${subprojectId})}">Add Task</a>
    </div>
    <div class="topnav-right">
        <a href="/logout">Logout</a>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col grid-container" th:each="status, statIdx : ${status}">
            <h2 th:text="${status}"></h2>
            <div th:if="${not #lists.isEmpty(tasks[status.replace(' ', '')])}" th:each="task, taskIdx : ${tasks[status.replace(' ', '')]}">
                <div class="task-card">
                    <h3 th:text="${task.name}"></h3>
                    <p th:text="${task.description}"></p>
                    <p th:text="${#temporals.format(task.date, 'yyyy-MM-dd HH:mm')}"></p>
                    <p th:text="${#temporals.format(task.deadline, 'yyyy-MM-dd HH:mm')}"></p>
                    <div class="task-actions">
                        <a th:href="@{/updateTask/{id}(id=${task.task_id})}" class="btn">Edit Task</a>
                        <form th:action="@{/deleteTask/{projectId}/{taskId}/{subprojectId}(projectId=${projectId}, taskId=${task.task_id}, subprojectId=${subprojectId})}" method="post" onsubmit="return confirm('Er du sikker på, at du vil slette denne opgave?');"> </form>
                        <form th:action="@{/updateTaskStatus/{taskId}(taskId=${task.task_id})}" method="post">
                            <select name="status" class="form-select">
                                <option value="Backlog">Backlog</option>
                                <option value="Sprint backlog">Sprint backlog</option>
                                <option value="In Progress">In Progress</option>
                                <option value="In Review">In Review</option>
                                <option value="Completed">Completed</option>
                            </select>
                            <button type="submit" class="btn">Opdater task status</button>
                        </form>
                    </div>
                </div>
            </div>
            <div th:unless="${not #lists.isEmpty(tasks[status.replace(' ', '')])}">
                <p>No tasks in this category.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>