<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Task List</title>
</head>
<body>
<header>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>Task Liste</h1>
        <p>Task oversigt</p>
    </div>
</header>
<nav class="topnav">
    <div class="topnav-left">
        <a th:href="@{/subprojects/{projectId}(projectId=${projectId})}">Tilbage til Subprojekter</a>
        <a th:href="@{/addTask/{projectId}/{subprojectId}(projectId=${projectId}, subprojectId=${subprojectId})}">Add Task</a>
    </div>
    <div class="topnav-right">
        <a href="/logout">Logud</a>
    </div>
</nav>
<table>
    <thead>
    <tr>
        <th>Task Navn</th>
        <th>Beskrivelse</th>
        <th>Dato</th>
        <th>Deadline</th>
        <th>Status</th>
        <th>Handlinger</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.name}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${#temporals.format(task.date, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${#temporals.format(task.deadline, 'yyyy-MM-dd HH:mm')}"></td>
        <td th:text="${task.status}"></td>
        <td>
            <form th:action="@{/updateTask/{id}(id=${task.task_id})}" method="get">
                <button type="submit" class="btn">Opdater Opgave</button>
            </form>




            <form th:action="@{/updateTaskStatus/{taskId}(taskId=${task.task_id})}" method="post">
                <select name="status">
                    <option value="Backlog">Backlog</option>
                    <option value="Sprint backlog">Sprint backlog</option>
                    <option value="Igangværende">Igangværende</option>
                    <option value="Under Revision">Under Revision</option>
                    <option value="Færdig">Færdig</option>
                </select>
                <button type="submit">Opdater Opgave Status</button>
            </form>


            <form th:action="@{/deleteTask/{projectId}/{taskId}/{subprojectId}(projectId=${projectId}, taskId=${task.task_id}, subprojectId=${subprojectId})}" method="post" onsubmit="return confirm('Er du sikker på, at du vil slette denne opgave?');">
                <button type="submit" class="btn">Slet</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
