<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Subprojects</title>
</head>
<body>
<h1>Subprojects</h1>
<ul>
    <a th:href="@{/addSubproject/{projectId}(projectId=${projectId})}" class="btn">Add Subproject</a>

    <li th:each="subproject : ${subprojects}">
        <form th:action="@{'/tasks/' + ${projectId} + '/' + ${subproject.subproject_id}}" method="get">
            <button type="submit" th:text="${subproject.subprojectname}"></button>
        </form>
        <form th:action="@{/deleteSubproject/{projectId}/{subprojectId}(projectId=${projectId}, subprojectId=${subproject.subproject_id})}" method="post">
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
</body>
</html>
