<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
<h1>User List</h1>
<table>
    <thead>
    <tr>
        <th>Navn</th>
        <th>Brugernavn</th>
        <th>Virksomhed</th>
        <th>Job Titel</th>
        <th>Handlinger</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.name}">Navn</td>
        <td th:text="${user.username}">Brugernavn</td>
        <td th:text="${user.company}">Virksomhed</td>
        <td th:text="${user.jobTitle}">Job Titel</td>
        <td>
            <form action="/inviteUserToProject" method="post">
                <input type="hidden" name="receiverUserId" th:value="${user.user_id}" />
                <select name="projectId">
                    <option th:each="project : ${projects}" th:value="${project.project_id}" th:text="${project.projectName}"></option>
                </select>
                <input type="hidden" name="senderUserId" th:value="${loggedInUserId}" />
                <button type="submit">Invite</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>