<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>Konto Oplysninger</title>
</head>
<body>
<header>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>Konto Oplysninger</h1>
    </div>
</header>
<nav class="topnav">
    <div class="topnav-left">
        <a href="/seeProjects">Tilbage til Projekter</a>
    </div>
    <div class="topnav-right">
        <a href="/logout">Log ud</a>
    </div>
</nav>
<div class="project-container">
    <table>
        <tr>
            <td>Navn</td>
            <td th:text="${user.name}"></td>
        </tr>
        <tr>
            <td>Brugernavn</td>
            <td th:text="${user.username}"></td>
        </tr>
        <tr>
            <td>Firma</td>
            <td th:text="${user.company}"></td>
        </tr>
        <tr>
            <td>Job Titel</td>
            <td th:text="${user.jobTitle}"></td>
        </tr>
        <tr>
            <td>Beskrivelse</td>
            <td th:text="${user.description}"></td>
        </tr>
    </table>

    <!-- Display list of experiences -->
    <h2>Bruger Erfaring</h2>
    <table>
        <tr>
            <th>Kompetence</th>
            <th>Års Erfaring</th>
        </tr>
        <tr th:each="experience : ${experiences}">
            <td th:text="${experience.skill}"></td>
            <td th:text="${experience.yearsOfExperience}"></td>
        </tr>
    </table>

</div>
</body>
</html>