<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>User List</title>
</head>
<body>
<header>
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>Bruger Liste</h1>
        <p>Se brugere her!</p>
    </div>
</header>
<nav class="topnav">
    <div class="topnav-left">
        <a href="/seeProjects">Tilbage til Projekter</a>
        <a href="/myAccount">Konto</a>
    </div>
    <div class="topnav-right">
        <a href="/logout">Logud</a>
    </div>
</nav>
<table>
    <thead>
    <tr>
        <th>Navn</th>
        <th>Virksomhed</th>
        <th>Job Titel</th>
        <th>Top Erfaring</th>
        <th>Handlinger</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}" th:if="${userTopExperiences[user.user_id] != null}">
        <td>
            <a th:href="@{/userDetails(userId=${user.user_id})}" th:text="${user.name}"></a>
        </td>
        <td th:text="${user.company}">Virksomhed</td>
        <td th:text="${user.jobTitle}">Job Titel</td>
        <td>
            <span th:text="${userTopExperiences[user.user_id].skill + ' (' + userTopExperiences[user.user_id].yearsOfExperience + ' år)'}"></span>
        </td>
        <td>
            <form action="/inviteUserToProject" method="post">
                <input type="hidden" name="receiverUserId" th:value="${user.user_id}" />
                <select name="projectId">
                    <option th:each="project : ${projects}" th:value="${project.project_id}" th:text="${project.projectName}"></option>
                </select>
                <input type="hidden" name="senderUserId" th:value="${loggedInUserId}" />
                <button type="submit">Invite</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>